<ul class="inline-list">
    <li>
      <a href="https://twitter.com/Rats_Tales" title="{{ shop.name }} on Twitter">
        <img src="{{ 'icon-tw.png' | asset_url }}" alt="twitter">
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/pages/Rats-Tales/1620114421577662" title="{{ shop.name }} on Facebook">
        <img src="{{ 'icon-fb.png' | asset_url }}" alt="facebook">
      </a>
    </li>
    <li>
      <a href="https://www.pinterest.com/ratstales/" title="{{ shop.name }} on Pinterest">
        <img src="{{ 'icon-pi.png' | asset_url }}" alt="pinterest">
      </a>
    </li>
</ul>
