<div class="container">
    <div class="row">
      <h2 class="text-center background-heading">Search</h2>
    </div>

    <div class="row">
      {% include 'search-form' %}
    </div>

    <div class="row">
      {% if search.performed %}
        {% paginate search.results by 10 %}
          {% if search.results_count == 0 %}
          <p>Your search for "{{ search.terms }}" did not yield any results</p>
          {% else %}
            <ul class="simple-list">
              {% for item in search.results %}
              <li>{{ item.title | link_to: item.url }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if paginate.pages > 1 %}
          {{ paginate | default_pagination }}
          {% endif %}
        {% endpaginate %}
      {% endif %}
    </div>
</div>


<div class="container">
    <div class="row">
      <ul class="simple-list">
        {% for collection in collections %}
        <li><a href="{{ collection.url }}">{{ collection.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
</div>

